.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #726a68;
  padding: 16px;
  margin-bottom: 1rem;
}

.input-icon {
  margin-right: 34px;
  color: #595959;
}

.input-field {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #ffffff;
  placeholder-color: #cccccc;
  outline: none;
  padding-left: 16px;
}

.input-field::placeholder {
  color: #cccccc;
}
